.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainContainer main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
}